@media screen and (min-width: 768px)
{
    .wrapper {
        max-width: 1200px;
        margin: 10px auto;
        padding: 75px!important;
    }
    .header {
        margin: 0 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .header>h1 {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: left;
    }

    .logo {
        font-size: 2.5rem!important;
    }
    .menu {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: auto;
    }
    .navLink {
        margin-left: 20px;
        font-size: .9rem;
    }
    .item {
        padding-bottom: 3.5%;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 31%;
        flex: 0 1 31%;
    }
    .item {
        padding-bottom: 3.5%;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 31%;
        flex: 0 1 31%;
    }
    .footer {
        margin: 90px 0 0;
        padding: 0;
    }
    .infoWrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .basicInfo {
        padding: 0 1.5rem;
    }
    .profilePic {
        width: 150px;
        height: 150px;
    }
    .otherInfo {
        margin: 0 2rem;
    }
    .tradesInfoWrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .tradesInfoWrapper .tradeProposedWrapper, .tradesInfoWrapper .tradeReqWrapper {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(50% - 1rem);
        flex: 0 1 calc(50% - 1rem);
    }
    .ptWrapper .userImg, .trWrapper .userImg, .uIWrapper .userImg {
        margin-top: 0.2rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 4rem;
        flex: 0 0 4rem;
        height: 4rem;
        width: 4rem;
    }
    .ptWrapper a, .ptWrapper h4, .trWrapper a, .trWrapper h4, .uIWrapper a, .uIWrapper h4 {
        font-size: 1rem;
    }
    .ptWrapper .lower, .trWrapper .lower, .uIWrapper .lower {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    button.normalBtn {
        padding: 0.5rem 1rem!important;
    }
    .tradeProposedWrapper {
        margin-top: 0;
    }
    .myItemsWrapper {
        padding: 0 0 2rem;
    }
    .uIWrapper {
        margin: 0 0 4rem;
    }
    .uIWrapper .upper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .uIWrapper .userImg {
        margin-top: 0.2rem;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10rem;
        flex: 0 0 10rem;
        height: 10rem;
        width: 10rem;
    }
    .uIWrapper .itemInfo {
        margin-left: 3rem;
    }
    .uIWrapper .itemCost {
        color: #555;
        font-size: 1.2rem;
        margin: 1rem 0;
        font-weight: 500;
    }
    .uIWrapper .addDate {
        margin: 0.5rem 0;
        font-weight: 500;
    }
    .uIWrapper .itemDescription {
        margin: 2rem 0;
    }
    .uIWrapper .lower {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .addItemWrapper .itemWrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }
    .addItemWrapper .itemWrapper .itemPicWrapper .img {
        height: 12rem!important;
        width: 12rem!important;
    }
    .addItemWrapper .itemInfoWrapper {
        margin-left: 2rem;
        margin-top: 0!important;
    }
}