.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 30px;
}
header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}
.header>h1 {
    text-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.header>h1 a {
    text-decoration: none;
    color: #222;
    letter-spacing: 4px;
    -webkit-transition: color .3s;
    transition: color .3s;
    font-size: 1.8rem;
}


.menu {
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: height .3s;
    transition: height .3s;
    height: 0;
    overflow: hidden;
}

.activeNavLink {
    color: #222;
    text-decoration: none;
}

.navLink {
    -webkit-transition: color .3s;
    transition: color .3s;
    color: rgba(0,0,0,.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 2.5;
    text-transform: uppercase;
}

.main {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 60vh;
}
.item {
    padding-bottom: 4%;
    height: 250px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48%;
    flex: 0 1 48%;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.content {
    height: 100%;
    background: #eee;
    cursor: pointer;
}
.footer {
    padding: 80px 0 20px;
}

.infoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 40vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 0;
}
.basicInfo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 40px;
}
.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #eee;
    margin: 1rem auto 2rem;
}

.nameWrapper h3 {
    text-align: center;
    font-size: 1.3rem;
}
.otherInfo {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
.heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.heading h3 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.heading button {
    padding: 0!important;
    background: transparent;
    color: rgba(0,0,0,.3);
    border: none;
    line-height: 1;
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
    -webkit-transition: color .3s;
    transition: color .3s;
    cursor: pointer;
}
.cIWrapper, .lIWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.inputWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 1rem;
}
.cIWrapper>*, .lIWrapper>* {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 1rem);
    flex: 0 1 calc(50% - 1rem);
}
p.inputData {
    padding: 0.5rem 1rem;
    color: rgba(34,34,34,.55);
    margin: 1rem 0;
    font-size: .9rem;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    background: #fff;
}
h6, p {
    letter-spacing: 1px;
}
.contactInfo {
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.tradesWrapper {
    min-height: 40vh;
}
.tradesWrapper .addTradeWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 1rem 0 3rem;
}
.tradesWrapper .tradeBtn {
    color: rgba(0,0,0,.3);
    font-size: .9rem;
    font-weight: 700;
    padding: 0;
    background: transparent;
    text-transform: uppercase;
    -webkit-transition: all,.3s;
    transition: all,.3s;
    cursor: pointer;
}
.tradesWrapper .allItemsBtn {
    border-bottom: 2px solid;
}
.tradesInfoWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.tradesInfoWrapper h3 {
    letter-spacing: 1px;
}
.allTradeRequestsWrapper {
    margin-bottom: 3rem;
}
.trWrapper:first-child {
    margin-top: 0;
}
.trWrapper {
    margin-top: 2.5rem;
}
.trWrapper .upper {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.trWrapper .userImg {
    margin-top: 0.2rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3rem;
    flex: 0 0 3rem;
    height: 3rem;
    width: 3rem;
    background: #eee;
    border-radius: 50%;
    margin-right: 1rem;
}
.trWrapper h4 {
    line-height: 1.2;
    font-size: .9rem;
    letter-spacing: 1px;
}
.trWrapper a {
    font-size: .9rem;
    font-weight: 500;
    color: rgba(34,34,34,.55);
    -webkit-transition: all .3s;
    transition: all .3s;
}
.trWrapper .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.trWrapper .acceptBtn {
    background: #222;
    color: #fff;
}
.trWrapper button {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.trWrapper .declineBtn {
    margin-left: 1rem;
    background: none;
    border: 2px solid;
}
.allProposedTradesWrapper {
    margin-bottom: 2rem;
}
.ptWrapper:first-child {
    margin-top: 0;
}
.ptWrapper {
    margin-top: 2.5rem;
}
.ptWrapper .upper {
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ptWrapper .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.ptWrapper .cancelBtn {
    margin: 0;
    background: none;
    border: 2px solid;
}
.ptWrapper button {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.cancelBtn {
    margin-left: 1rem;
}
.ptWrapper .userImg {
    margin-top: 0.2rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3rem;
    flex: 0 0 3rem;
    height: 3rem;
    width: 3rem;
    background: #eee;
    border-radius: 50%;
    margin-right: 1rem;
}

.ptWrapper h4 {
    line-height: 1.2;
    font-size: .9rem;
    letter-spacing: 1px;
}
.ptWrapper a {
    font-size: .9rem;
    font-weight: 500;
    color: rgba(34,34,34,.55);
    -webkit-transition: all .3s;
    transition: all .3s;
}
.myItemsWrapper {
    padding: 1rem 0 2rem;
    min-height: 40vh;
}
.myItemsWrapper .addTradeWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0 0 3rem;
}
.myItemsWrapper .tradeBtn {
    color: rgba(0,0,0,.3);
    font-size: .9rem;
    font-weight: 700;
    padding: 0;
    background: transparent;
    text-transform: uppercase;
    -webkit-transition: all,.3s;
    transition: all,.3s;
    cursor: pointer;
}
.uIWrapper {
    margin: 0 0 3rem;
}
.uIWrapper .upper {
    margin: 0 0 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.uIWrapper .userImg {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10rem;
    flex: 0 0 10rem;
    height: 10rem;
    width: 10rem;
    background: #eee;
    border-radius: 50%;
    margin: 1.5rem auto;
}
.uIWrapper h3.itemName {
    line-height: 1.2;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.uIWrapper h3.itemName a {
    -webkit-transition: none;
    transition: none;
    color: inherit;
    font-size: inherit;
    border-bottom: 2px solid transparent;
}
.uIWrapper a {
    font-size: .9rem;
    font-weight: 500;
    color: rgba(34,34,34,.55);
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.uIWrapper .itemCost {
    color: #555;
    font-size: 1.2rem;
    margin: 0.7rem 0;
    font-weight: 500;
}
.uIWrapper .addDate {
    margin: 0.5rem 0;
    font-weight: 500;
    color: rgba(34,34,34,.55);
    letter-spacing: 1px;
}
.uIWrapper .itemDescription {
    margin: 0.5rem 0 1.5rem;
}
.uIWrapper .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.uIWrapper .lower {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.uIWrapper button {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.2rem 1rem;
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}
.uIWrapper .editBtn {
    margin-left: 1rem;
    background: none;
    border: 2px solid;
}
.uIWrapper .deleteBtn {
    background: #222;
    color: #fff;
}
.addItemWrapper {
    z-index: 9999;
}
.addItemWrapper.open .hider {
    opacity: 1;
}
.addItemWrapper .hider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #f2f2f2;
    background: -webkit-gradient(radial,50% 25%,0,50% 25%,800,from(hsla(0,0%,99%,.9)),to(#f2f2f2)) transparent;
    background: -moz-radial-gradient(center 45deg,circle cover,hsla(0,0%,99%,.9) 0,#f2f2f2 100%) transparent;
    opacity: 0;
    -webkit-transition: opacity .7s cubic-bezier(.82,0,.12,1);
    transition: opacity .7s cubic-bezier(.82,0,.12,1);
}
.addItemWrapper.open .modal {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 1;
}
.addItemWrapper .modal {
    overflow: hidden;
    background: #fafafa;
    max-width: 900px;
    height: 85vh;
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #f2f2f2;
    box-shadow: 0 4px 29px rgb(0 0 0 / 22%), 0 0 0 1px rgb(0 0 0 / 4%);
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%);
    z-index: 9999999;
    box-sizing: border-box;
    opacity: 0;
    -webkit-transition: opacity .6s cubic-bezier(.82,0,.12,1),-webkit-transform .8s cubic-bezier(.82,0,.12,1);
    transition: opacity .6s cubic-bezier(.82,0,.12,1),-webkit-transform .8s cubic-bezier(.82,0,.12,1);
    transition: transform .8s cubic-bezier(.82,0,.12,1),opacity .6s cubic-bezier(.82,0,.12,1);
    transition: transform .8s cubic-bezier(.82,0,.12,1),opacity .6s cubic-bezier(.82,0,.12,1),-webkit-transform .8s cubic-bezier(.82,0,.12,1);
}
.addItemWrapper .modal .heading {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.addItemWrapper .modal h3 {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    text-align: center;
    padding: 0.7rem 1.5rem;
    border-bottom: 2px solid #f2f2f2;
    width: 100%;
}
.addItemWrapper .modal .itemWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(85vh - 137px);
    margin-top: 50px;
    overflow-y: auto;
    padding: 2.5rem 1.5rem 0;
}
.addItemWrapper .modal .itemWrapper .itemPicWrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.addItemWrapper .modal .itemWrapper .itemPicWrapper .img {
    margin: auto;
    background: #eee;
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}
.addItemWrapper .modal .itemWrapper .itemPicWrapper .imgText {
    color: #222;
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
    margin: 2rem 0;
    line-height: 1.5;
    padding: 0 10px;
    position: relative;
}
.addItemWrapper .modal .itemWrapper .itemInfoWrapper {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    margin-top: 2rem;
}
.addItemWrapper .modal .priceWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.addItemWrapper .modal .priceWrapper .inputWrapper:first-child {
    margin-right: 1rem;
}
.addItemWrapper .modal .priceWrapper .inputWrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.addItemWrapper .modal .priceWrapper .inputWrapper:last-child {
    margin-left: 1rem;
}
.addItemWrapper .modal .itemWrapper .itemDescription, .addItemWrapper .modal .itemWrapper .itemTags {
    padding: 0.5rem 1rem;
    resize: none;
    height: 8rem;
    box-sizing: border-box;
    width: 100%!important;
}
.addItemWrapper .modal .itemWrapper .itemTags {
    margin-bottom: 2.5rem;
}
.addItemWrapper .modal .buttonWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 999;
}
.addItemWrapper .modal .buttonWrapper button {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: .9rem;
    color: rgba(0,0,0,.3);
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    -webkit-transition: color .3s;
    transition: color .3s;
    cursor: pointer;
    border-top: 2px solid #f2f2f2;
}
.addItemWrapper .modal .buttonWrapper button:last-child {
    border-left: 2px solid #f2f2f2;
}
.loginWrapper {
    min-height: 40vh;
    margin: 1rem auto 2rem;
}
.loginWrapper .loginHeading {
    margin-bottom: 4rem;
}
.btnWrapper {
    margin: 2rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.btnWrapper .fbBtn {
    color: rgba(59,89,152,.9);
}
.btnWrapper button {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    max-width: 400px;
    margin: 0 auto 2rem;
    width: 100%;
    padding: 0.8rem 1rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: .8rem;
    font-weight: 700;
    background: transparent;
    border: 2px solid;
    opacity: .75;
    text-transform: uppercase;
}
.btnWrapper .googleBtn {
    color: rgba(221,75,57,.9);
}
.btnWrapper .twitterBtn {
    color: rgba(85,172,238,.9);
}
.btnWrapper button:hover {
    cursor: pointer;
    opacity: 1;
}
.itemPageWrapper {
    padding: 1rem 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.itemPageWrapper .itemImgWrapper {
    background: #eee;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 50vh;
}
.itemPageWrapper .itemInfoWrapper {
    margin-top: 2rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.itemPageWrapper .backLink {
    font-size: .9rem;
    color: rgba(34,34,34,.55);
    cursor: pointer;
    -webkit-transition: color .2s;
    transition: color .2s;
    font-weight: 500;
}
.itemPageWrapper .backLink span.small svg {
    -webkit-transform: rotate(
90deg);
    transform: rotate(
90deg);
    -webkit-transition: color .2s;
    transition: color .2s;
    fill: rgba(34,34,34,.55);
    font-weight: 800;
}
.itemPageWrapper .itemName {
    margin: 1rem 0 0.5rem;
}
.itemPageWrapper .itemCost {
    color: #555;
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
}
.itemPageWrapper .seller {
    margin-top: 1.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
    color: rgba(34,34,34,.55);
}
.itemPageWrapper .reqTradeBtn {
    margin: 3rem 0 0;
    background: #222;
    color: #fff;
}
